
.App {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 1em;
  display: flex; 
  flex-direction: row;
}

#headerTag {
  font-size: 10px;
  position: relative;
  bottom: -2em;
  color: #e6a6a6;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-container {
  background-color: #2d2f3591;
  color: #ffffff;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#visualizeButton:hover {
  color: #000000
}

#controlBar-body {
  flex-wrap: wrap;
  display: flex; 
  flex-direction: row;
  flex: 1 1 auto;
}

.input-slider {
  margin-left: 1em;
  margin-right: 1em;
}
